.header {
    width: 100%;
    background: #232323;
    display: flex;
    flex-direction: column;

    --page-offset: 10%;
}

.titleBar {
    height: 60px;
    display: flex;
    align-items: center;
}

.linkBar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: calc(100% - var(--page-offset));
    height: 40px;
    background: linear-gradient(89.99deg, #d2ac47 0.19%, #ffffff 37.8%);
    padding: 0 0 0 var(--page-offset);
}

.headerLink {
    color: #3f3f3f;
    font-size: 28px;
    line-height: 28px;
    font-weight: normal;
    margin-right: 40px;
}

.headerTitle {
    color: #d2ac47;
    font-size: 48px;
    line-height: 48px;
    font-weight: normal;
    float: left;
    margin: 0 0 0 var(--page-offset);
}
