.leagueDisplay {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 5px;
}

.leagueDisplay.primary {
    background-color: #d2ac47;
    color: #fff;
}

.leagueDisplay.secondary {
    background-color: #606060;
    color: #d2ac47;
}
