.liveScoreCard {
    display: flex;
    flex-direction: column;
    align-items: normal;
    gap: 5px;

    margin: 10px;

    width: 280px;
    padding: 5px 20px;
    background: transparent;
    mix-blend-mode: normal;
    border-radius: 24px;

    border-width: 1px 0px;
    border-style: solid;
    border-color: #d2ac47;
    border-radius: 20px;

    overflow: hidden;

    color: white;
    font-size: 22px;
    line-height: 22px;
}

.liveScoreCard .statusRow {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.liveScoreCard .teamInfo {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.liveScoreCard .teamInfo .logo {
    height: 90%;
    margin-right: 8px;
}

.liveScoreCard .teamInfo .teamScore {
    margin-left: auto;
}

.redDot {
    border-radius: 15px;
    height: 15px;
    width: 15px;
    margin-right: 5px;
    background-color: #d02424;
}

.liveText {
    -webkit-text-fill-color: #404040; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #d02424;
}
